#galerypanel{
    width: 100vw;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden; 
    background: black;
    white-space: nowrap;
}
.card{
    display: inline-block;
    position: relative;
    height: 85vh;
    width: 60vh;
    margin: 5vh 2.5vh 5vh 2.5vh;
    border-radius: 10px;
    background: white;
}

.card img{
    position: absolute;
    width: 56vh;
    left: 2vh;
    height: 60vh;
    top: 2vh;
    border-radius: 5px;
    object-fit: cover;
}
.editdogname{
    position: absolute;
    top: 64vh;
    font-size: 3.5vh;
    height: 5vh;
    width: 40vh;
    left: 2vh;
    border:0;
}
.editdogdesc{
    position: absolute;
    top: 71vh;
    font-size: 2.5vh;
    left: 2vh;
    height: 11vh;
    width: 40vh;
    border:0;
}
.save{
    position: absolute;
    bottom: 2vh;
    right: 2vh;
    width: 14vh;
    height: 6vh;
    font-size: 2.5vh;
}
.selectstate{
    position: absolute;
    top: 64vh;
    right: 2vh;
    width: 14vh;
    height: 6vh;
    border:0;
    font-size: 2.3vh;
}
.adorno{
    position: absolute;
    width: 56vh;
    left: 2vh;
    height: 60vh;
    top: 2vh;
    border-radius: 5px;
}
.po{
    position: absolute;
    width: 56vh;
    left: 2vh;
    height: 60vh;
    top: 2vh;
    border-radius: 5px;
}
.DI{
    fill: yellow;
}
.RE{
    fill: red;
}
.AD{
    fill: green;
}
.erase{
    position: absolute;
    top: 4vh;
    right: 4vh;
    width: 10vh;
    height: 6vh;
    font-size: 2.5vh;
}
.backbutton{
    position: fixed;
    top:20vh;
    right: 0;
    height: 15vh;
    width: 25vh;
    transform: translateX(15vh);
    -webkit-transition: 100ms;
    transition: 100ms;
    background: red;
    z-index: 2;
    border-radius: 7.5vh 0 0 7.5vh;
    -webkit-filter: drop-shadow( 0px 5px 5px rgb(0, 0, 0) ); 
			filter: drop-shadow( 0px 5px 5px rgb(0, 0, 0) );
}
.backbutton:hover{
    transform: translateX(0);
}
.arrow{
    position: absolute;
    top: 2.5vh;
    left: 2.5vh;
    height: 10vh;
    width: auto;

}
#backt{
    position: absolute;
    top: 5vh;
    right: 1vh;
    font-size: 3.4vh;
    font-weight: bold;
    color: black;

}