#settingspanel{
    width: 100vw;
    height: 100vh;
    background: black;
    overflow: hidden;
}
.tarjeta{
    margin: 5vh auto ;
    display: block;
    position: relative;
    width: 90vw;
    height: 90vh;
    min-width: 800px;
    min-height: 400px;
    background: white;
    border-radius: 15px;
}
.userfoto{
    position: absolute;
    width: 40vh;
    height: 50vh;
    object-fit: cover;
    top: 5vh;
    left: 5vh;
    border-style: solid;
    border-width: 4px;
    border-color: green;
    border-radius: 10px;
}
label{
    font-size: 2.5vh;
    font-weight: bold;
}
input{
    font-size: 2.5vh;
    width: 22vw;
    height: 5vh;
    min-width: 200px;
}
select{
    height: 5vh;
    width: 22vw;
    min-width: 200px;
}
.entry{

    position: absolute;
    width: 30;
}
#enusername{
    left: 50vh;
    top: 5vh;
}
#ennombre{
    left: 50vh;
    top: 16vh;
}
#enapellidop{
    left: 50vh;
    top: 27vh;
}
#enapellidom{
    left: 50vh;
    top: 38vh;
}
#enfoto{
    left: 5vh;
    top: 60vh;
}
#enregion{
    left: 50vh;
    top: 49vh;
}
#encomuna{
    left: 50vh;
    top: 60vh;
}
#envivienda{
    left: 50vh;
    top: 71vh;
}
#entel{
    width: 22vw;
    right: 15vh;
    min-width: 200px;
    top: 16vh;
}
#enfnac{
    width: 22vw;
    right: 15vh;
    min-width: 200px;
    top: 5vh;
}
#encorreo{
    width: 22vw;
    right: 15vh;
    min-width: 200px;
    top: 27vh; 
}
#enrut{
    width: 22vw;
    right: 15vh;
    min-width: 200px;
    top: 38vh; 
}
#enpass{
    width: 22vw;
    right: 15vh;
    min-width: 200px;
    top: 49vh; 
}
#buttonedit{
    position: absolute;
    bottom: 5vh;
    right: 5vh;
    width: 15vh;
}
#buttoncancel{
    position: absolute;
    bottom: 5vh;
    width: 15vh;
    right: 25vh;

}
.data{
    font-weight: normal;
    color: rgb(2, 2, 34)
}