.modalcontentcustom{
	margin: 1vw 3vw;
}

.imgcustom{
	width: 50vw;
	height: auto;
}
.paneldeusuario{
	position: fixed;
	top:10vh;
	right:0;
	height: 20vh;
	width: 40vh;
	min-height: 50px;
	min-width: 100px;
	background: rgb(86, 155, 72);
	border-radius: 10vh 0 0 10vh;
	transform: translatex(30vh);
	z-index: 2;
	-webkit-transition: 1s;
	transition: 1s;
	-webkit-filter: drop-shadow( 0px 5px 5px rgb(0, 0, 0) ); 
            filter: drop-shadow( 0px 5px 5px rgb(0, 0, 0) );
}
.paneldeusuario:hover{
	transform: none;
	
}
.userfoto{
	position: absolute;
	top:1vh;
	left: 1vh;
	height: 18vh;
	width: 18vh;
	min-height: 45px;
	min-width: 45px;
	object-fit: cover;
	border-radius: 50%;
	border-style: solid;
	border-width: 2px;
	background: rgb(69, 163, 5);
	border-color: white;
	-webkit-transition: 1s;
	transition: 1s;
}
.paneldeusuario:hover .userfoto{
	transform: rotate(360deg);
}
.userinfoname{
	position: absolute;
	text-align: center;
	right: 0;
	top: 4vh;
	color: white;
	font-size: 2.5vh;
	width: 20vh;
	min-width: 48px;
	-webkit-transition: 1s;
	transition: 1s;
}
.userinfoname2{
	position: absolute;
	text-align: center;
	right: 0;
	bottom: 4vh;
	color: white;
	font-size: 2.5vh;
	width: 20vh;
	min-width: 48px;
	-webkit-transition: 1s;
	transition: 1s;
}
.panelopen:hover{
	height: 30vh;
	min-height: 75px;
	border-radius: 15vh 0 0 15vh;
}
.panelopen:hover .userfoto{
	height: 28vh;
	width: 28vh;
	min-height: 70px;
	min-width: 70px;
}
.panelopen:hover .userinfoname2{
	width: 12vh;
	min-width: 45px;
	font-size: 2vh;

}
.panelopen:hover .userinfoname{
	width: 12vh;
	min-width: 45px;
	font-size: 2vh;
}
.botonp{
	height: 10vh;
	width: 20vh;
	position: absolute;
	top: 5vh;
	-webkit-transition: 1s;
	transition: 1s;
}
.btnpanel{
	height: 10vh;
	width: 20vh;
	border-radius: 5vh 0 0 5vh;
	background:rgb(86, 155, 72);
}
.iconopanel{
	position: absolute;
	height: 8vh;
	width: auto;
	top: 1vh;
	left: 1vh;
	opacity: 0;
	-webkit-transition: 1s;
	transition: 1s;
}
.panelopen .btnpanel:hover{
	transform: translateX(-5vh);
	-webkit-transition: 100ms;
	transition: 100ms;
}
.panelopen:hover .botonp{
	top: 10vh;
}
.panelopen:hover .iconopanel{
	opacity: 1;
}
.panelopen:hover .b1{
	transform-origin: right center;
	transform: translateX(-5vh)  rotate(90deg);
}

.panelopen:hover .b2{
	transform-origin: right center;
	transform: translateX(-5vh)  rotate(45deg);
}

.panelopen:hover .b3{
	transform-origin: right center;
	transform: translateX(-5vh)  ;
}
.panelopen:hover .b4{
	transform-origin: right center;
	transform: translateX(-5vh)  rotate(-45deg);
}

.panelopen:hover .b5{
	transform-origin: right center;
	transform: translateX(-5vh)  rotate(-90deg);
}

.panelopen:hover .b1 .iconopanel{
	transform: rotate(270deg);
}
.panelopen:hover .b2 .iconopanel{
	transform: rotate(-45deg);
}
.panelopen:hover .b4 .iconopanel{
	transform: rotate(45deg);
}
.panelopen:hover .b5 .iconopanel{
	transform: rotate(90deg);
}

.line{
	background-color: gray;
	height: 3px;
	width: 10vw;
	position: relative;
}
.navbar-toggler {
	position: relative;
	float: right;
	padding: 9px 10px;
	margin-top: 8px;
	margin-right: 15px;
	margin-bottom: 8px;
	margin-left: 15px;
	border-color: white;
	background-color: rgb(109, 204, 170);
	width: 40px;
	min-height: 33px;
}

.crop{
	object-fit: cover;
	object-position: center;
	width: 100vw;
	height: 30vw;
}

.caption {
    position: absolute;
    bottom: 5%;
    left: 5%;
	width: 27%;
	text-align: center;
	font-size: 3vw;
	font-weight:bold;
	-webkit-filter: drop-shadow( 0px 0px 5px rgb(255, 255, 255) ); 
			filter: drop-shadow( 0px 0px 5px rgb(255, 255, 255) );
}

ul{
	
}
ul li{
	padding: 1px;
	
}
.navlogo{
	object-fit: contain;
	width: 100vw;
	max-width: 400px
}
.iconbar{
	height: 16vw;
}
.iconlist{
	list-style: none;
	padding: 0px;
	vertical-align: middle;
	margin: 0px;
	
}
.shapecircle{
	height: 3vw;
	width: 3vw;
	border-radius: 50%;
	background-color: white;
	margin: 1vw auto;
}
.fab{
	font-size: 2vw;
	display: inline-block;
	vertical-align: middle;
	line-height: 3vw;
	color:  rgb(109, 204, 170)
}

.shapecircle:hover{
	background-color:  rgb(109, 204, 170);
}
.shapecircle:hover .fab{
	color: white
}


.liicon{
	padding: 0px;
	margin: 0px;
	width: 10%;
	text-align: center;
}

@media only screen and (max-width: 720px){
	.crop{
		object-fit: cover;
		object-position: center;
		width: 100vw;
		height: 50vw;
	}
	.shapecircle{
		height: 10vw;
		width: 10vw;
		border-radius: 50%;
		background-color: white;
		margin-left: 3vw;
		margin-right: 3vw
	}
	.fab{
		font-size: 6vw;
		display: inline-block;
		vertical-align: middle;
		line-height: 10vw;
		color:  rgb(109, 204, 170)
	}
	.iconlist{
		list-style: none;
		padding: 0px;
		vertical-align: middle;
		margin: 6vw 0px;
	}
	.liicon{
		padding: 0px;
		margin: 0px;
		width: 25%;
		text-align: center;
		float: left;
	}
		
}

.galeria {
	
	padding: 3vh 4px;
	background-color: rgb(133, 212, 183);
	text-align: center;
}

.adoptbtn{
	position: absolute;
	top: calc(2vh + 2vw);
	right: calc(1vh + 1vw);
	width:calc(5vh + 5vw);
	height:calc(2vh + 2vw);
	font-size: calc(1vh + 1vw)
}




.error{
	color: red;
}




.welcome{
	display: block;
	text-align: right;
	margin: auto;
	font-size: 20px;
	line-height: 50px;
	font-weight: bold;
	color: white;
}
.galeryitem{
	position: relative;
	display: inline-block;
	width: calc(15vh + 15vw);
	height: calc(20vh + 20vw);
	background: white;
	-webkit-filter: drop-shadow( 0px 5px 5px rgb(0, 0, 0) ); 
			filter: drop-shadow( 0px 5px 5px rgb(0, 0, 0) );
	margin: 2vh;
	border-radius:calc(1vh + 1vw) 
	
}
.galeryitem img{
	position: absolute;
	top: calc(1vh + 1vw);
	left: calc(1vh + 1vw);
	width: calc(13vh + 13vw);
	height: calc(18vh + 18vw);
	object-fit: cover;
	border-radius: calc(0.5vh + 0.5vw);
}


.caption2 {
    position: absolute;
    bottom: 5%;
    left: 5%;
	width: auto;
	right: 5%;
	text-align: center;
	font-size: 2vw;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	text-shadow: 3px;
}

.barragris{
	height: 10vw;
	background-color: gray;
	padding: 3vw;
}
