<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" type="text/css">
	  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/styledog.css" %}" type="text/css">
    <title>My Perris</title>
</head>
<body>
  <a href="{% url "index" %}" >
  <div class="backbutton" >
      <svg version="1.1" class="arrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="0 0 492 492" style="enable-background:new 0 0 492 492;" xml:space="preserve">
          <g>
            <path d="M464.3,207.4l0.8,0.2H135.9l103.5-103.7c5.1-5.1,7.8-11.9,7.8-19.1c0-7.2-2.8-14-7.8-19.1l-16.1-16.1
              c-5.1-5.1-11.8-7.9-19-7.9c-7.2,0-14,2.8-19,7.8L7.8,226.9C2.8,232,0,238.8,0,246c0,7.2,2.8,14,7.8,19.1l177.4,177.4
              c5.1,5.1,11.8,7.8,19,7.8c7.2,0,13.9-2.8,19-7.8l16.1-16.1c5.1-5.1,7.8-11.8,7.8-19c0-7.2-2.8-13.6-7.8-18.7L134.7,284.4h330
              c14.8,0,27.3-12.8,27.3-27.6V234C492,219.2,479.2,207.4,464.3,207.4z"/>
          </g>
      </svg>
      <div id="backt">
        Volver
      </div>
  </div>
  </a>
    <div id="galerypanel">
      {% for p in perros %}
        <div class="card">
          <img src="/media/{{p.foto}}" alt="">
          <svg version="1.1" class="adorno" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 562.5 621.8" style="enable-background:new 0 0 562.5 621.8;" xml:space="preserve">
              <path class="{{p.estado}}" d="M502.2,502.8l11.6,34c0.5,1.5,1.9,2.5,3.5,2.5l35.4,0.2c3.5,0,5.1,4.5,2.3,6.7l-28.3,22c-1.2,1-1.7,2.6-1.3,4
                l10.3,33.5c1,3.4-2.8,6.2-5.7,4.2L500.7,590c-1.3-0.9-2.9-0.9-4.2,0l-29.2,19.8c-2.9,2-6.7-0.8-5.7-4.2l10.3-33.5
                c0.5-1.5-0.1-3.1-1.3-4l-28.3-22c-2.8-2.2-1.3-6.7,2.3-6.7l35.4-0.2c1.6,0,3-1,3.5-2.5l11.6-34C496.2,499.4,501,499.4,502.2,502.8z"
                />
              <path class="{{p.foto}}" d="M604.2,567.6"/>
              <path class="{{p.foto}}" d="M442.5,833.8"/>
            </svg>
            <form action="{% url 'eraseDog' %}" method="post">
                {% csrf_token %}
                <input type="text"  name="pk" value="{{p.pk}}" style="visibility: hidden;">
                <button type="submit" class="btn btn-danger erase" >borrar</button>
            </form>
          <form method="POST" action="{% url 'editDog' %}" id="dogform{{p.pk}}">
              {% csrf_token %}
              <input type="text"  name="pk" value="{{p.pk}}" style="visibility: hidden;">
              <input type="text" class="editdogname" name="nombre" value="{{p.nombre}}">
              <select  name="estado" class="selectstate">
                {% if p.estado == 'RE' %}
                  <option value="RE" selected>rescatado</option> 
                  <option value="DI">disponible</option> 
                  <option value="AD">adoptado</option>
                {% elif p.estado == 'DI' %}
                  <option value="RE">rescatado</option> 
                  <option value="DI" selected>disponible</option> 
                  <option value="AD">adoptado</option>
                {% elif p.estado == 'AD' %}
                  <option value="RE">rescatado</option> 
                  <option value="DI">disponible</option> 
                  <option value="AD" selected>adoptado</option>
                {% else %}
                  <option value="RE">rescatado</option> 
                  <option value="DI">disponible</option> 
                  <option value="AD">adoptado</option>
                {% endif %}
              </select>
              <button type="submit" class="btn btn-primary save" >Guardar</button>
          </form>
          <textarea form="dogform{{p.pk}}" rows="4" class="editdogdesc" name="descripcion">{{p.descripcion}}</textarea>
        </div>
      {% endfor %}    
      </div>
    </div>
    <div class="modal fade" id="dogmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" >
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Registro</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modalcontentcustom">
                <form id="formaregistroperro" enctype="multipart/form-data" method="POST" action="{% url 'postDog' %}">
                  {% csrf_token %}
                  <div class="row">
                      <div class="form-group col-md-6 col-sm-12">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" id="dognombre" name="nombre" placeholder="Nombre">
                      </div>
                      <div class="form-group col-md-6 col-sm-12">
                          <label for="raza">Raza</label>
                          <input type="text" class="form-control" id="raza" name="raza" placeholder="Raza">
                      </div>
                      <div class="form-group col-md-12 col-sm-12">
                        <label for="descripcion">Descripcion</label>
                        <input type="textarea" class="form-control" style="width:100%" id="descripcion" name="descripcion" placeholder="Descripcion">
                    </div>
                    <div class="form-group col-md-8 col-sm-12">
                        <label for="foto">Foto</label>
                        <input type="file" class="form-control" style="height: 43px;" name="foto" id="dogfoto" accept=".jpg,.png" placeholder="Foto">
                    </div>
                    <br>
                    <div class="row">
                        <button type="submit" class="btn btn-primary mb-2 " style="margin:0 2vw">Registrar</button>
                        <button type="reset" class="btn btn-danger mb-2 "  style="margin:0 2vw ">Cancelar</button>
                    </div>
                  </div>                 
                </form>
            </div>
          </div>
        </div>
      </div>
    <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/jquery.validate.js" %}"></script>
    <script src="{% static "js/popper.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/scriptdog.js" %}"></script>
</body>
</html>