<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" type="text/css">
	  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css">
    <title>My Perris</title>
</head>
<body>
    {% if user.is_authenticated %}
    <div id="userpanel" class="paneldeusuario">
      <div class="botonp b1">
        <div class="btnpanel">
            <a href="{% url "config" %}" >
                <img src="{% static "imagenes/iconos/settings.svg" %}" class="iconopanel" data-toggle="tooltip" data-placement="top" title="Config Usuario"  alt="">
            </a>
        </div>
      </div>
      {% if is_admin %}
      <div class="botonp b2">
        <div class="btnpanel">
            <a href="{% url "dogs" %}" >
                <img src="{% static "imagenes/iconos/paw.svg" %}" class="iconopanel" data-toggle="tooltip" data-placement="top" title="Administrar rescatados" alt="">
            </a>
        </div>
      </div>
      {% endif %}
      <div class="botonp b3">
        <div class="btnpanel">
            <a href="{% url "funcion1" %}" >
                <img src="{% static "imagenes/iconos/dog.svg" %}" class="iconopanel" alt="">
            </a>
        </div>
      </div>
      <div class="botonp b4">
        <div class="btnpanel">
            <a href="{% url "funcion2" %}" >
                <img src="{% static "imagenes/iconos/bones.svg" %}" class="iconopanel" alt="">
            </a>
        </div>
      </div>
      <div class="botonp b5">
        <div class="btnpanel">
          <a href="#" data-toggle="modal" data-target="#dogmodal">
              <img src="{% static "imagenes/iconos/dog1.svg" %}" class="iconopanel" data-toggle="tooltip" data-placement="bottom" title="Añadir Rescatado" alt="">
          </a>
        </div>
      </div>

      <img src="/media/{{userimage}}" class="userfoto" alt="">
      <div class="userinfoname">Bienvenido <br/> {{usuario}} </div>
      <a class="userinfoname2" href="{% url "cerrar_session" %}">Cerrar Sesión</a>
      
    </div>
    {% endif %}
	<div style="background-color:  rgb(133, 212, 183)">
      <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(133, 212, 183);padding:1px;" >
          <img class="navbar-brand ; navlogo" src="{% static "imagenes/logo.png" %}" alt="" style="margin: 1%">
          
          <button class="navbar-toggler" type="button"  data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active" >
                  <a class="nav-link" style="background-color: rgb(109, 204, 170);text-align: center;font-size:x-large" href="#">inicio<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" style="background-color: rgb(109, 204, 170);text-align: center;font-size:x-large" href="#">quienes somos<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" style="background-color: rgb(109, 204, 170);text-align: center;font-size:x-large" href="#">servicios<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" style="background-color: rgb(109, 204, 170);text-align: center;font-size:x-large" href="#">contáctanos<span class="sr-only">(current)</span></a>
              </li>

              {% if user.is_authenticated %}
              <li class="nav-item active">
                <a class="nav-link" style="background-color: rgb(109, 204, 170);text-align: center;font-size:x-large" href="{% url "cerrar_session" %}">Cerrar Sesión<span class="sr-only">(current)</span></a> 
              </li>
              <div class="welcome">
                  Bienvenido {{usuario}} 
              </div>
              {% else %}
              <li class="nav-item active">
                  <a class="nav-link" data-toggle="modal" data-target="#exampleModal" style="background-color: rgb(109, 204, 170);text-align: center;font-size:x-large" href="#">Registrate<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" style="background-color: rgb(109, 204, 170);text-align: center;font-size:x-large" href="{% url "login"%}">Ingresar<span class="sr-only">(current)</span></a> </li>
              {% endif %}
            </ul>

          </div>
        </nav>

        <div id="carouselE" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselE" data-slide-to="0" class="active"></li>
                <li data-target="#carouselE" data-slide-to="1"></li>
                <li data-target="#carouselE" data-slide-to="2"></li>
              </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="imgcarrousel text-left-bottom">
                <img class="crop" src="{% static "imagenes/adoptados/Tom.jpg" %}" alt="First slide">
                  <p class="caption">"Estamos felices de tener a Tom en casa. Es un super fiel compañero"</p>
              </div>
            </div>
            <div class="carousel-item">
              <img class="crop" src="{% static "imagenes/adoptados/Duque.jpg" %}" alt="Second slide">
              <p class="caption">esto es una prueba</p>
            </div>
            <div class="carousel-item">
              <img class="crop" src="{% static "imagenes/adoptados/Apolo.jpg" %}" alt="Third slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselE" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselE" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

    <div class="shadow rounded; iconbar">
    <ul class="iconlist">
      <li class="liicon">
        <a target="blank" href="https://www.twitter.com">
          <div class="shapecircle">
            <i class="fab fa-twitter"></i>
        </div>
        </a>
      </li>
      <li class="liicon">
          <a target="blank" href="https://www.facebook.com">
            <div class="shapecircle">
              <i class="fab fa-facebook"></i>
          </div>
          </a>
      </li> 
      <li class="liicon">
          <a target="blank" href="https://plus.google.com/?hl=es">
            <div class="shapecircle">
              <i class="fab fa-google-plus-g"></i>
          </div>
          </a>
      </li >
      <li class="liicon">
          <a target="blank" href="https://www.instagram.com">
            <div class="shapecircle">
                <i class="fab fa-instagram"></i>
          </div>
          </a>
      </li>
    </ul>
    </div>
  </div>

  <div style="margin: 3vw">
    
    <div>
        <h1 style="text-align: right; font-weight: bold">RESCATE</h1>
        <h3 style="text-align: right; color: gray">ETAPA UNO</h3>
        <br>
        <div class="line" style="float: right"></div>
        <br>
        <h4 style="text-align: right; color: gray">Rescatamos perros en situacion de peligro y/o abandono Los rehabilitamos y los preparamos para buscarles un hogar</h4>
        <img src="{% static "imagenes/rescate.jpg" %}" class="imgcustom" style="float:right;" alt="">
        <br>
    </div>
    <div>
        <img src="{% static "imagenes/crowfunding.jpg" %}" class="imgcustom" alt="">
        <h1 style="text-align: left; font-weight: bold">CROWDFUNDING</h1>
        <h3 style="text-align: left; color: gray">FINANCIAMIENTO</h3>
        <br>
        <div class="line" style="float: left"></div>
        <br>
        <h4 style="text-align: left; color: gray">Sigue nuestras redes sociales para informarte acerca de nuestras diversas campañas y actividades que realizamos para obtener financiamiento para seguir ayudando</h4>
    </div>
  </div>
  
  <div class="galeria">

          {% for p in perros %}
          <div class="galeryitem">
            <img src="/media/{{p.foto}}" alt="">
            {% if user.is_authenticated and can_adopt %}
            <form action="{% url 'adoptar' %}" method="post">
                {% csrf_token %}
                <input type="text"  name="pk" value="{{p.pk}}" style="visibility: hidden;">
              <button type="submit" class="btn btn-success adoptbtn" style="margin:0 2vw">Adoptar</button>
            </form>
            {% endif %}
            <p class="caption2">{{p.nombre}}</p>
          </div>
          {% endfor %} 
    
  </div>
  <div class="barragris">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Adoptar
    </button>
    <h3 style="float:right;color: rgb(48, 48, 48)">Desarrollo Web y Mobile</h3>
  </div>
     
          
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" >
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Registro</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modalcontentcustom">
                    <form id="formaregistro" enctype="multipart/form-data" method="POST" action="{% url 'crear' %}">
                      {% csrf_token %}
                      <div class="row">
                          <div class="form-group col-md-6 col-sm-12">
                            <label for="correo">Email</label>
                            <input type="email" class="form-control" id="correo" name="correo" placeholder="name@example.com">
                          </div>
                          <div class="form-group col-md-6 col-sm-12">
                              <label for="recorreo">Confirme Email</label>
                              <input type="email" class="form-control" id="recorreo" name="recorreo" placeholder="name@example.com">
                            </div>
              
                      </div>
                        <div class="form-group ; row">
                          <div class="col-md-4 col-sm-12">
                              <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" id="nombre" name="nombre"  placeholder="Nombre">
                          </div>
                          <div class="col-md-4 col-sm-12">
                              <label for="apellidop">Apellido Paterno</label>
                            <input type="text" class="form-control" id="apellidop" name="apellidop"  placeholder="Apellido Paterno">
                          </div>
                          <div class="col-md-4 col-sm-12">
                              <label for="apellidom">Apellido Materno</label>
                            <input type="text" class="form-control" id="apellidom" name="apellidom"  placeholder="Apellido Materno">
                          </div>
                        </div>
              
                        <div class="form-group; row">
                            <div class="form-group col-md-4 col-sm-12">
                              <label for="fnac">Fecha de nacimiento</label>
                              <input type="date" id="fnac" name="fnac" class="form-control">
                            </div>
              
                            <div class="form-group col-md-4 col-sm-12">
                              <label for="tel">Telefono</label>
                              <input type="text" id="tel" name="tel" class="form-control" placeholder="Telefono">
                            </div>
                          
                            <div class="form-group col-md-4 col-sm-12">
                              <label for="rut">Rut</label>
                              <input type="text" class="form-control" id="rut" name="rut" oninput="formatrut(this)" placeholder="rut">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-4 col-sm-12">
                              <label for="region">Región</label>
                              <select  id="region" name="region" class="form-control">
                                <option value="">Seleccione</option> 
                              </select>
                            </div>
              
                            <div class="form-group col-md-4 col-sm-12">
                                <label for="comuna">Comuna</label>
                                <select  id="comuna" name="comuna" class="form-control">
                                    <option value="">Seleccione</option> 
                                </select>
                            </div>
              
                            <div class="form-group col-md-4 col-sm-12">
                                <label for="vivienda">Tipo de vivienda</label>
                                <select id="vivienda" name="vivienda" class="form-control">
                                    <option value="">Seleccione</option> 
                                    <option value="1">Casa con patio grande</option> 
                                    <option value="2">Casa con patio pequeño</option> 
                                    <option value="3">Casa sin patio</option> 
                                    <option value="4">Departamento</option> 
                                </select>
                            </div>
                            <div class="form-group col-md-4 col-sm-12">
                                <label for="contrasenia">Contraseña</label>
                                <input type="password" class="form-control" id="contrasenia" name="contrasenia" placeholder="contraseña">
                            </div>

                            <div class="form-group col-md-4 col-sm-12">
                                <label for="recontrasenia">Repita Contraseña</label>
                                <input type="password" class="form-control" id="recontrasenia" name="recontrasenia" placeholder="repita contraseña">
                            </div>

                            <div class="form-group col-md-4 col-sm-12">
                                <label for="username">Nombre de usuario</label>
                                <input type="text" class="form-control" id="username" name="username" placeholder="Nombre de usuario">
                            </div>

                            <div class="form-group col-md-8 col-sm-12">
                                <label for="foto">Foto</label>
                                <input type="file" class="form-control" style="height: 43px;" name="foto" id="foto" accept=".jpg,.png" placeholder="Foto">
                            </div>

                        </div>
                        <br>
                        <div class="row">
                          <br>
                            <button type="submit" class="btn btn-primary mb-2 " style="margin:0 2vw">Registrar</button>
                            <button type="reset" class="btn btn-danger mb-2 "  style="margin:0 2vw ">Cancelar</button>
                        </div>
                        
                        <br>
                      </form>
              </div>
              </div>
            </div>
          </div>



          <div class="modal fade" id="dogmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" >
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Registro</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modalcontentcustom">
                    <form id="formaregistroperro" enctype="multipart/form-data" method="POST" action="{% url 'postDog' %}">
                      {% csrf_token %}
                      <div class="row">
                          <div class="form-group col-md-6 col-sm-12">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" id="dognombre" name="nombre" placeholder="Nombre">
                          </div>
                          <div class="form-group col-md-6 col-sm-12">
                              <label for="raza">Raza</label>
                              <input type="text" class="form-control" id="raza" name="raza" placeholder="Raza">
                          </div>
                          <div class="form-group col-md-12 col-sm-12">
                            <label for="descripcion">Descripcion</label>
                            <input type="textarea" class="form-control" style="width:100%" id="descripcion" name="descripcion" placeholder="Descripcion">
                        </div>
                        <div class="form-group col-md-8 col-sm-12">
                            <label for="foto">Foto</label>
                            <input type="file" class="form-control" style="height: 43px;" name="foto" id="dogfoto" accept=".jpg,.png" placeholder="Foto">
                        </div>
                        <br>
                        <div class="row">
                            <button type="submit" class="btn btn-primary mb-2 " style="margin:0 2vw">Registrar</button>
                            <button type="reset" class="btn btn-danger mb-2 "  style="margin:0 2vw ">Cancelar</button>
                        </div>
                      </div>                 
                    </form>
                </div>
              </div>
            </div>
          </div>
  
    <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/jquery.validate.js" %}"></script>
    <script src="{% static "js/popper.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/script.js" %}"></script>
</body>
</html>
