<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" type="text/css">
	  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/stylesettings.css" %}" type="text/css">
    <title>My Perris</title>
</head>
<body>
    <script>

        var djreg = "{{usuario.persona.region}}";
        
        var djcom = "{{usuario.persona.comuna}}";

        var djviv = "{{usuario.persona.vivienda}}";

    </script>

    <div id="settingspanel">
      <div class="tarjeta">
            <img src="/media/{{usuario.persona.foto}}" class="userfoto" alt="">
            
            <form id="formaedicion" enctype="multipart/form-data" method="POST" action="{% url 'editar' %}">
                {% csrf_token %}
            
                    <div class="entry" id="encorreo">
                      <label for="correo">Email:</label><br>
                      <label class="data">  {{usuario.email}}</label>
                    </div>       
                  
                    <div class="entry" id="ennombre">
                        <label for="nombre">Nombre</label><br>
                        <input type="text" class="" id="nombre" name="nombre"  value="{{usuario.first_name}}">
                    </div>

                    <div class="entry" id="enapellidop">
                        <label for="apellidop">Apellido Paterno</label><br>
                        <input type="text" class="" id="apellidop" name="apellidop"  value="{{usuario.last_name}}">
                    </div>
                    <div class="entry" id="enapellidom">
                        <label for="apellidom">Apellido Materno</label><br>
                        <input type="text" class="" id="apellidom" name="apellidom"  value="{{usuario.persona.apellidom}}">
                    </div>
     
                      <div class="entry" id="enfnac">
                        <label for="fnac">Fecha de nacimiento</label><br>
                        <label class="data" >{{usuario.persona.fnac}}</label>
                      </div>
        
                      <div class="entry" id="entel">
                        <label for="tel">Telefono</label><br>
                        <input type="text" id="tel" name="tel" class="" value="{{usuario.persona.telefono}}">
                      </div>

                      <div class="entry" id="enregion">
                        <label for="region">Región</label><br>
                        <select  id="region" name="region" class="" >
                          <option value="">Seleccione</option> 
                        </select>
                      </div>
        
                      <div class="entry" id="encomuna">
                          <label for="comuna">Comuna</label><br>
                          <select  id="comuna" name="comuna" class="">
                              <option value="">Seleccione</option> 
                          </select>
                      </div>

                      <div class="entry" id="enrut">
                            <label for="rut">RUT</label><br>
                            <label class="data">{{usuario.persona.rut}}</label>
                        </div>
        
                      <div class="entry" id="envivienda">
                          <label for="vivienda">Tipo de vivienda</label><br>
                          <select id="vivienda" name="vivienda" class="">
                              <option value="">Seleccione</option> 
                              <option value="1">Casa con patio grande</option> 
                              <option value="2">Casa con patio pequeño</option> 
                              <option value="3">Casa sin patio</option> 
                              <option value="4">Departamento</option> 
                          </select>
                      </div>

                      <div class="entry" id="enusername">
                          <label for="username">Nombre de usuario</label><br>
                          <label class="data">  {{usuario.username}}</label>
                      </div>

                      <div class="entry" id="enfoto">
                          <label for="foto">Foto</label><br>
                          <input type="file" class="" style="height: 43px;" name="foto" id="foto" accept=".jpg,.png" placeholder="Foto">
                      </div>

                      <div class="entry" id="enpass">
                            <label for="contrasenia">cambiar contraseña </label><br>
                            <input type="text" id="contrasenia" name="contrasenia" class="" >
                          </div>

                      <button type="submit" id="buttonedit" class="btn btn-primary mb-2 " >Guardar</button>
                      <button onclick="goBack()" id="buttoncancel" class="btn btn-danger mb-2 "  >Cancelar</button>

                  
                </form>
      </div>
    </div>
    
    <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/jquery.validate.js" %}"></script>
    <script src="{% static "js/popper.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/script.js" %}"></script>
    <script src="{% static "js/scriptsettings.js" %}"></script>
</body>
</html>
